<div class="jumbotron">
    <h1>Puzzle - Flee Telematics</h1>
    <p class="lead">This page is an example of how to use rest API</p>
    <p><a href="http://www.oscarmoreno.co/" class="btn btn-primary btn-lg" target="_blank">Learn more about Oscar&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Problem</h2>
        <p>
            Create a .Net REST API with 3 methods:

            Truck (POST)
            Create a new Truck record with the following fields:
            Id
            Manufacturer
            Model
            PurchaseDate
            Telemetry (POST)
            Create a new Telemetry record with the following fields:
            Id
            TruckId
            OilPressure
            Speed
            Lattitude
            Longitude
            Telemetry (GET)
            Return all of the telemetry records for a specified truck
            The data should be stored in a database of your choice. The solution should use an ORM (preferably Entity Framework).
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get Source Code</h2>
        <p>Source code of this project you can find at Oscar - Git Hub page</p>
        <p><a class="btn btn-default" href="https://github.com/omorenomalaver/FleetTelematics" target="_blank">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Database Sources</h2>
        <p>You can download the database script.</p>
        <p><a class="btn btn-default" href="~/Docs/FleetTelematicDB.txt" target="_blank">Download Here &raquo;</a></p>
    </div>
</div>
